*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.main{
    width: 20%;
    padding: 17px;
    background-color: rgb(243, 240, 240);
}



.save{
    width: 90px;
    background-color: purple;
    color: white;
    border-radius: 0 25 0 25;
}


.p{
      color:#F37123;                                       
}

.b{
    background-color: #F2F4F8;
    color: blue;
}
